<div>
    <p>Hello <%=user.name%></p>
    <br>
    Click on this <a href="http://127.0.0.1:8000/users/forgot-create-password/<%=user.accessToken%>">Link</a> to set your password 
    <br>
    <p>Thanks!!</p>
</div>