
<link rel="stylesheet" type="text/css" href="/css/header.css">

<div id="header">

    

    <%if(locals.user){%>
        <div class="logged-in">

            Hello <a href="/users/profile"><%=user.name%></a>
            <a href="/users/sign-out">Sign Out</a>
        </div>
       
    <%}else{%>
        <div class="page-link">
            <a href="/users/sign-in">Sign In</a>
            <a href="/users/sign-up">Sign Up</a>
        </div>
        
    <%}%>
</div>



