<link rel="stylesheet" type="text/css" href="/css/forgot_create_password.css">


<!-- <form method="POST" action="/users/update-password">
    <input type="password" name="new_password" placeholder="new password">
    <input type="password" name="confirm_new_password" placeholder="confirm new password">
    <input type="hidden" name="email" value=<%=email%>>
    <button>Change Password</button>
</form> -->

<div class="user">

<form class="form" action="/users/update-password" method="POST">
    
    <div class="form__group">
        <input type="password" placeholder="Password" name="new_password" class="form__input" />
    </div>
    
    <div class="form__group">
        <input type="password" placeholder="Confirm Password" name="confirm_new_password" class="form__input" />
    </div>

    <div class="form__group">
        <input type="hidden" name="email" value=<%=email%>>
    </div>
    <button class="btn">Change Password</button>
</form>
</div>