<!-- 
<form action="/users/forgot-password" method="POST">
    <input type="email" name="email" placeholder="email">
    <button>Forgot Password</button>
</form> -->
<link rel="stylesheet" type="text/css" href="/css/forgot_password.css">


<div class="user">

    <form class="form" action="/users/forgot-password" method="POST">
        
        <div class="form__group">
            <input type="email" placeholder="Email" name="email" class="form__input" />
        </div>
        
        <button class="btn">Change Password</button>
    </form>
    </div>