<link rel="stylesheet" type="text/css" href="/css/reset_page.css">

<%if(locals.user){%>
<div class="user">
    
    <form class="form" action="/users/reset-password" method="POST">
        
        <div class="form__group">
            <input type="password" placeholder="Old Password" name="old_password" class="form__input" />
        </div>
        
        <div class="form__group">
            <input type="password" placeholder="New Password" name="new_password" class="form__input" />
        </div>
        
        <div class="form__group">
            <input type="password" placeholder="Confirm New Password" name="confirm_new_password" class="form__input" />
        </div>

        <div class="form__group">
            <input type="hidden" name="email" value=<%=locals.user.email %> />
        </div>

    

        <button class="btn">Reset Password</button>
    </form>
    
</div>
<%}%>