body {
  animation: move 10s ease infinite;
  transform: translate3d(0, 0, 0);
  background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%); }
  body h2 {
    font-size: 1.8rem;
    margin: auto;
    margin-left: 40%;
    margin-top: 10%; }
  body h4 {
    font-size: 1.4rem;
    font-weight: lighter;
    margin-top: 0%; }
